/*styles*/
*{
    margin: 0;
    padding: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.menu {
    display: flex;
    background: #f0f2f5;
    background-size: cover;
    min-width: 500px;
    width: auto;
    height: 570px;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 150px;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
}

.intro > div {
    margin-left: 20%;
}

.fb-logo {

}

.fb-logo > img {
    height: 106px;
    width: 301px;
}

.fb-desc {
    line-height: 35px;
    color: #1c1e21;
    display: inline-block;
}

.login {
    width: 45%;
}

li {
    cursor: pointer;
}