/*styles*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
}

.menu {
    display: flex;
    background: #f0f2f5;
    background-size: cover;
    min-width: 500px;
    width: 100%;
    height: 720px;
    justify-content: space-around;
    align-items: flex-start;
}


/* Left Section */
.intro {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    margin-top: 150px;
}

.intro > div {
    margin-left: 20%;
}

.fb-logo {
    padding: 15px 0 0 15px
}

.fb-logo > img {
    height: 106px;
    width: 301px;
}

.fb-desc {
    padding-left: 45px;
    padding-right: 45px;
}

.fb-desc > h1 {
    line-height: 32px;
    color: #1c1e21;
    font-weight: normal;
    font-size: 28px;
}

/* Right Section */

.login {
    width: 45%;
    margin-top: 100px;
}

.login-box {
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 400px;
}

input {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px ;
    width: 85%;
    background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin-bottom: 10px;
}

.btn1 {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn1:hover {
    background-color: #166bda;
}

.btn2 {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    line-height: 48px;
    padding: 0 16px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn2:hover {
    background-color: #359b21;
}

.hline {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hline > hr {
    border-bottom: 0.1px solid #cad0d7;
}

.forgot-pass {
    margin: 10px 10px;
    width: auto;
}

.forgot-pass > h2 {
    color: #1877f2;
    font-size: 14px;
    cursor: pointer;
}

.forgot-pass:hover {
    text-decoration: underline;
    text-decoration-color: #1877f2;
}

.create-page {
    text-align: center;
    margin-top: 28px;
    width: 400px;
}

.create-page > h2 {
    font-size: 14px;
}

.create-page b {
    font-weight: bold;
}

.create-page b:hover {
    text-decoration: underline;
    cursor: pointer;
}

li {
    cursor: pointer;
}